<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzq.mybatis.dao.DeptMapper">
    <!--
          if标签根据判断条件是否为真，来决定if标签包含的
                   内容是否能够出现在当前的SQL语句

     -->
    <select id="dept_1" resultType="dept">
        select * from dept where 1=1
        <if test="deptNo !=null and deptNo !=0">
            and deptNo = #{deptNo}
        </if>
        <if test="dName != null and dName !=''">
            and dname like '%' #{dName} '%'
        </if>
        <if test="loc != null and loc !=''">
            and loc = #{loc}
        </if>
    </select>
    <!--
           1.如果where标签内部所有的判断都不成立。在查询语句中是不会出现where
                          或则只出现 where1=1
           2.where标签中，将第一个满足条件的语句中前部包含【and  ,or】自动取消
     -->
    <select id="dept_2" resultType="dept">
        select * from dept
        <where>
        <if test="deptNo !=null and deptNo !=0">
            and deptNo = #{deptNo}
        </if>
        <if test="dName != null and dName !=''">
            and dname like '%' #{dName} '%'
        </if>
        <if test="loc != null and loc !=''">
            and loc = #{loc}
        </if>
        </where>
    </select>
    <!--
          set标签一般用在更新语句，动态指定需要更新字段信息
          set标签往往需要与if标签
          set标签自动将最后一个更新字段后面“，”取消
      -->

    <update id="updateDept">
        update dept
        <set>
            <if test="dName != null and dName != ''">
                dname = #{dName}
            </if>
            <if test="loc != null and loc != ''">
                loc = #{loc}
            </if>
        </set>
        where deptno = #{deptNo}
    </update>

    <!--trim
            不是去除空格的
            它可以自定义第一个满足条件前部的代替内容
            也可以自定义最后一个满足条件后面的代替内容
    -->

<select id="dept_3" resultType="dept">
    select * from dept
    where
    <trim prefixOverrides="and | or " prefix="1=1 and" suffixOverrides="," suffix="">
        <if test="deptNo != null and deptNo != 0 ">
            and deptno = #{deptNo}
        </if>
        <if test="dName != null and dName != '' ">
            and dname = #{dName}
        </if>
        <if test="loc != null and loc != '' ">
            and loc = #{loc} ,
        </if>
    </trim>
</select>


    <insert id="deptSave">
        insert into dept (dname,loc)
        values
        <foreach collection="list" item="dept" separator=",">
            (#{dept.dName},#{dept.loc})
        </foreach>
    </insert>


    <select id="deptFindByList" resultType="Dept">
        select deptno,dname,loc from dept
        where deptno in
        <foreach collection="list" item="deptNo" open="(" close=")" separator=",">
            #{deptNo}
        </foreach>
    </select>

    <select id="deptFindByArray" resultType="Dept">
        select deptno,dname,loc from dept
        where deptno in
        <foreach collection="array" item="deptNo" open="(" close=")" separator=",">
            #{deptNo}
        </foreach>
    </select>


    <select id="deptFindByMap" resultType="Dept">
        select deptno,dname,loc from dept
        where deptno in
        <foreach collection="myMap.values" item="deptNo" open="(" close=")" separator=",">
            #{deptNo}
        </foreach>
    </select>

</mapper>